*{
    font-family: 'Indie Flower', cursive;
    box-sizing: border-box;

}
body{
    max-height: 100%;
    overflow: hidden;
    background: grey;
}
.display{
    display: flex;
    justify-content: center;
}
ul li .display_value{
    display: inline-block;
}
.display_value{
    width: 120px;
    height: 70px;
    background: white;
    text-align: center;
    font-size: 3rem;
}
.abacus_body{
    background: #550C18;
    display: flex;
}
.abacus_circle, .menu_circle{
    width: 65px;
    height: 65px;
    background: white;
    border-radius: 100%;
    margin: 0.7em;
    border: 0.3em inset #d28a5a;
}
.menu_circle{
    display: inline-block;
    background: white;
}
.menu_circle p{
    text-align: center;
    font-size: 1.7rem;
    position: relative;
    top: -0.6em;
}
ul li{
    list-style: none;
}

.abacus_circle.clicked{
    background: #d28a5a;

}