/*Color Palette:
R: 224
G: 38
B: 25
#E02619

R: 134
G: 167
B: 173
#86A7AD

R: 245
G: 235
B: 188
#F5EBBC
 
R: 6
G: 46
B: 69
#062E45

Fonts: Lobster, Slabo+27px
*/

body{
    background: #6699CC;
    opacity: 0.8;
}