/*Color Palette:
R: 250
G: 214
B: 35
#FAD623

R: 224
G: 11
B: 36
#E00B24

R: 3
G: 3
B: 3
#030303
 
Fonts: Lobster, Slabo+27px
*/
div.home_grid ul{
    display: flex;
}
li{
    margin: 1em;
}
div.grid{
    width: 350px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.overlay_one{
    opacity: 0.2;
    background: #FAD623;
    width: 100%;
    height: 100%;
}

.grid.overlay_two{
    opacity: 0.2;
    background: #E00B24;
    width: 100%;
    height: 100%;
}

.george{
    background: url(images/george.png);
}
.elaine{
    background: url(images/george.png);
}
.kramer{
    background: url(images/george.png);
}
.jerry{
    background: url(images/george.png);
}