* {
  /*transition: 1s all ease-in-out; */
}

body {
  background: linear-gradient(225deg, #000000, rgba(0, 0, 0, 0.9));
  background-size: 1000%, 1000%;
  background-repeat: repeat;
  animation: bodyAnimate 60s ease infinite;
 }
 @keyframes bodyAnimate { 
    0%{background-position:0% 26%}
    50%{background-position:100% 75%}
    100%{background-position:0% 26%}
}

textarea {
  width: 650px;
  height: 50px; 
  border: 1px solid black;
  }

p {
  position: relative;
  display: inline-block;
  max-width: 20px;
  max-height: 100px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }
.controls{
  display: flex;
  align-self: center;
}
div[onclick="move_text()"], div[onclick="clear_text()"] {
  cursor: pointer;
  background: rgba(92, 26, 27, 0.8);
  box-shadow: 0px 5px 0px 0px #5C1A1B;
  text-align: center;
  color: white;
  padding: 0.5em;
  font-size: 1.5em;
  width: 4em;
  height: 1em;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  }