*{
    box-sizing: border-box;
    transition: .5s all ease;
}
body{
}
.carousel{
    display: flex;
    flex-flow: row nowrap;
    max-width: 90%;
    max-height: 720px;
    overflow: hidden;
    margin: auto;
    margin-top: 3em;
}
.slides{
    width: 100%;
    height: 100%;
}
.controls{
    position: absolute;
}
a.back_button, a.forward_button {
    font-size: 10em;
    color: rgba(255, 255, 255, 0.2);
    line-height: 4;
    cursor: pointer;
    user-select: none;
    position: relative;
}

a.back_button{
    margin-left: 0.1em;
}
a.forward_button {
    margin-left: 6.7em;
}

div#video {
    display: flex;
    justify-content: center;
    padding: 0em;
    margin-top: 3em;
    margin-bottom: 3em;
}
.caption {
    display: flex;
    justify-content: center;
    position: relative;
    top: -16em;
}

a[href="#videolink"] {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 4px;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5em;
    font-weight: bold;
}
a[href="#videolink"]:active{
    position: relative;
    top: 4px;
}
a[href="#videolink"]:hover{
    background: rgba(255, 255, 255, 1);
    transform: scale(0.9, 0.9);
}
a.back_button:hover, a.forward_button:hover{
    color: rgba(255, 255, 255, 1);
}
#videolink{

}